article {
  background-image: url(/Images/apex_legends_logo.jpg);
  height: 1500px;
  margin-bottom: 40px;
}

body {
  display: flex;
  background-color: rgb(197, 197, 197);
  background: url(/Images/Apex\ Season\ 15_CSS.jpg) no-repeat center center;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Arial;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-bottom: 5px solid #ffffff;
}
.topnav a.active:hover {
  background-color: white;
  color: black;
}

.topnav a.getGame {
  float: right;
  border: 2px solid rgb(0, 0, 0);
  border-top: 3px solid black;
  background-color: rgb(190, 43, 43);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.apexlogo {
  width: 10%;
}
.dateTime,
.message,
.sinceLastRoll,
.numberOfRolls {
  font-family: "Black Ops One", cursive;
}

h1 {
  text-align: center;
  margin: 40px 0px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
h3 {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

.apexBanner {
  width: auto;
  justify-content: center;
  font-size: 120px;
  background: url(/Images/Scratched.jpg) no-repeat center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: relative;
}

.randomizer {
  color: rgb(222, 222, 222);
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgb(0, 0, 0);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.legendPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 300px;
}

#legendPic {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.passiveImg {
  display: flex;
}

.legendImg {
  height: 300px;
  width: 300px;
}

.grid-container {
  display: grid;
  height: 400px;
  grid-template-columns: 1fr 3fr;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "passivename passiveinfo"
    "tacname tacinfo"
    "ultname ultinfo"
    "extrainfo extrainfo";
  /* grid-template-rows: repeat(4, 1fr); */
  margin: 1px 15%;
  background-image: url(Images/apex-section-bg-legends-catalyst-abilities-xl.jpg.adapt.1456w.jpg);
  border: solid rgb(91, 91, 91);
}
.grid-container > div {
  border: solid rgb(91, 91, 91);
}

.infoContainer {
  height: 300px;
}

.buttonContainer {
  display: flex;
  height: 60px;
  width: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.passive-name_box {
  display: flex;
  grid-area: passivename;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.passive-desc {
  display: flex;
  grid-area: passiveinfo;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tac-name_box {
  display: flex;
  grid-area: tacname;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
}
.tac-desc {
  display: flex;
  grid-area: tacinfo;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ult-name_box {
  display: flex;
  grid-area: ultname;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
}
.ult-desc {
  display: flex;
  grid-area: ultinfo;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.legend-type {
  grid-area: extrainfo;
}
.extra-info {
  grid-area: extrainfo;
  display: none;
}
