article {
  background-color: rgba(255, 255, 255, 0.297);
  height: auto;
  margin-bottom: 40px;
  width: auto;
}

body {
  display: flex;
  background-color: rgb(197, 197, 197);
  background: url(/Images/Apex\ Season\ 15_CSS.jpg) no-repeat center center;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Arial;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0;
  width: fit-content;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-bottom: 5px solid #ffffff;
}
.topnav a.active:hover {
  background-color: white;
  color: black;
}

.topnav a.getGame {
  float: right;
  border: 2px solid rgb(0, 0, 0);
  border-top: 3px solid black;
  background-color: rgb(190, 43, 43);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.apexlogo {
  width: 10%;
}
.dateTime,
.message,
.sinceLastRoll,
.numberOfRolls {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
h3 {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

.apexBanner {
  width: auto;
  justify-content: center;
  font-size: 120px;
  background: url(https://img.freepik.com/free-photo/black-mulberry-paper-textured-background_53876-129708.jpg?w=2000&t=st=1670622556~exp=1670623156~hmac=e0587c247563cead7d1e3811704692d6f4c72a4b5d2152aa9e37a7aabbc631fc)
    no-repeat center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: relative;
}

.randomizer {
  color: rgb(222, 222, 222);
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgb(0, 0, 0);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.randomizer:hover {
  color: rgb(255, 41, 41);
}

.legendPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 300px;
  /* animation: animate-in 1s; */
}

.animate-in {
  animation: animate-in 1.5s;
}

@keyframes animate-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.passiveImg {
  display: flex;
}

.legendImg {
  height: 300px;
  width: 300px;
  /* animation: animate-in 1s; */
}

.grid-container {
  display: grid;
  height: 400px;
  grid-template-columns: 1fr 3fr;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "passivename passiveinfo"
    "tacname tacinfo"
    "ultname ultinfo"
    "extrainfo extrainfo";
  /* grid-template-rows: repeat(4, 1fr); */

  background-image: url(Images/apex-section-bg-legends-catalyst-abilities-xl.jpg.adapt.1456w.jpg);
  border: solid rgb(91, 91, 91);
}
.grid-container > div {
  border: solid rgb(91, 91, 91, 0.2);
}

.infoContainer {
  height: 300px;
  padding: 30px;
  background-color: rgb(20, 22, 21);
}

.buttonContainer {
  display: flex;
  height: 60px;
  width: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
}
.passive-name_box {
  display: flex;
  grid-area: passivename;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.passive-desc {
  display: flex;
  grid-area: passiveinfo;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tac-name_box {
  display: flex;
  grid-area: tacname;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
}
.tac-desc {
  display: flex;
  grid-area: tacinfo;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ult-name_box {
  display: flex;
  grid-area: ultname;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
}
.ult-desc {
  display: flex;
  grid-area: ultinfo;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.legend-type {
  grid-area: extrainfo;
  display: none;
  color: white;
}
.extra-info {
  grid-area: extrainfo;
  align-items: center;
  text-align: center;
  color: white;
}

.optionsBar {
  display: flex;
  justify-content: center;
}

#type {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #000000;
  width: 50%;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
